source venv/bin/activate

export DB_NAME="database_name"
export DB_USER="database_user"
export DB_PASSWORD="database_user_password"
export DB_HOST="host"
export DB_PORT=5432
export DEBUG=True
export SECRET_KEY="sample_key"



