asgiref==3.3.4
beautifulsoup4==4.9.3
Django==3.2
django-bootstrap4==3.0.0
django-notifier==0.7
djangorestframework==3.12.4
psycopg2==2.8.6
python-decouple==3.4
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
