<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Teziafrica F.E</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography">
    <h1>Chatbot</h1>
    <div id="main">
      <h1>Welcome to Teziafrica</h1>
        <div><input id="input" type="text" placeholder="How may I help you?..." autocomplete="off"/></div>
    </div>
<script>

   
        

// function () {

//remove all characters except word characters, space, and digits
//   let text = input.toLowerCase().replace(/[^\w\s\d]/gi, "");

// // 'tell me a story' -> 'tell me story'
// // 'i feel happy' -> 'happy'
//   text = text
//     .replace(/ a /g, " ")
//     .replace(/i feel /g, "")
//     .replace(/whats/g, "what is")
//     .replace(/please /g, "")
//     .replace(/ please/g, "");
// }

const trigger = [
//0 
["hi", "hallo", "hey", "hello"],
//1
["how are you", "how are things"],
//2
["what is going on", "what is up"],
//3
["happy", "good", "well", "fantastic", "cool"],
//4
["bad", "bored", "tired", "sad"],
//5
["tell me story", "tell me joke"],
//6
["thanks", "thank you"],
//7
["bye", "good bye", "goodbye"]
];

const reply = [
//0 
["Hello!", "Hi!", "Hey!", "Hi there!"], 
//1
[   "Good, how may I help?",
    "Fine... how are you?",
    "Pretty well, how are you?",
    "Fantastic, how are you?"
  ],
//2
[
    "Nothing much",
    "Exciting things!"
  ],
//3
["Glad to hear it"],
//4
["Why?", "Cheer up buddy"],
//5
["What about?", "Once upon a time..."],
//6
["You're welcome", "No problem"],
//7
["Goodbye", "See you later"],
];

const alternative = [
  "Same",
  "Go on...",
  "Try again",
  "I'm listening...",
  "Bro..."
];


// document.addEventListener("DOMContentLoaded", () => {
// ...
//     if (e.code === "Enter") {
//         let input = document.getElementById("input").value;
//         document.getElementById("user").innerHTML = input;
//         output(input);    
//      }
//   });
// });

// function output(input) {
//     let product;
//     let text = (input.toLowerCase()).replace(/[^\w\s\d]/gi, "");
// ...
//     document.getElementById("chatbot").innerHTML = product;
//     speak(product);

//     //clear input value
//     document.getElementById("input").value = "";
// }



</script>

  <app-root></app-root>
</body>
</html>
